body {
    background: #fff;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    width: 70%;
    flex-direction: column;
    align-items: left;
}

#mainTitle {
    font-size: 24px;
    font-weight: bold;   
    flex-direction: row;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secondaryChart {
    width: 95%;
    height: 75%;
}

#listContainer {
    width: 100%;
    height: 25%;
    font-size: 11px;
}

#countrySearchList {
    height: 150px;
    overflow: scroll;
    align-items: center;
}

/* Slider styling */ 
#slidecontainer {
    width: 100%;
    display: flex;
    align-items: center;
}

#year_header {
    width: 10%;
    font-size: 24pt;
    font-weight: bold;
}

.slider {
    width: 80%;
    height: 25px;
    background: lightgrey;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

#trailSelector {
    font-size: 11px;
}

/* Graph element styles */

circle {
    stroke: #222;
    fill-opacity: 0.3;
    stroke-opacity: 0.8;
}

rect {
    stroke: #222;
    fill-opacity: 0.3;
    stroke-opacity: 0.8;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 11px;
}

#legendContainer{
    width: 100%;
    height: 25%;
}

#barLegend { 
    list-style: none;

}

#barLegend li { 
    float: left; 
    margin-right: 10px;
 }

#barLegend span {
    width: 15px; 
    height: 15px; 
    margin: 2px; 
    display: inline-block;
    border-style: solid;
    border-width: thin;
    border-color: #222;
}